


* {
    margin: 0;
    padding: 0;
    border: none;

    box-sizing: border-box;

}


.logo {
    width: 20vw;
}

.search-button, .search-input {
    display: inline-block;
}

.search-button {
    width: 20%;
    border: none;
    cursor: pointer;
    height: 50px;
    background: #F4F4F4;

}



.search-button i {
    background: #F4F4F4;
}

.search-button {
    color: black;
    outline: none;


}



input, textarea {
    padding-right: 5px;
    padding-left: 5px;
}


form {
    height: fit-content;
    width: 12vw;
    background: #1A1C20;
    border: 3px solid white;
    border-radius: 2px;


}

::placeholder { color: #F4F4F4;}

.banner a:hover, section a:hover {
    text-decoration: underline;
    transition-duration: 300ms;
    padding: 20px;

}

main {
    text-align: center;
    background: #F4F4F4;
    padding-bottom: 40px;



}

a {
    text-decoration: none;
}

body, html {
    display: block;
}

header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    color: #F4F4F4;

}

header a, footer span, .socials-list p{
    color: #F4F4F4;
}

.nav-link {
    font-size: 1.7em;
    font-family: "Jersey 15", sans-serif;

}


.logo a {
    font-size: 3em;
    text-align: center;
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
}
a {
    color: #F4F4F4;

}
nav {
    width: 35vw;
}

ul {
    list-style-type: none;
}


.nav-list, .socials-list {
    
    display: flex;
    justify-content: flex-end;
    gap: 5%;
    align-items: center;
    font-weight: 400;
    font-style: normal;

}


footer, header {
    background-color: #1A1C20;
    padding-bottom: 30px;
    padding-top: 30px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
}

.banner {
    height: 50vh;
    background-image: url('../img/banner2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;    

}

.main-heading {
    padding-bottom: 40px;
    padding-top: 40px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;

}

.sections {
    text-align: left;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

img {
    border-radius: 10px;
    object-fit: cover;
}



.section-img {
    width: 100%;
    min-height: 200px;
}

.banner-about {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #F4F4F4;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

.banner-about p {
    margin-bottom: 10px;

}

section {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 20px;
    width: 200px;
}

section h3, .department-heading{
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.department-heading {
    font-size: 2em;
    margin-top: 40px;
    margin-bottom: 40px;
}

section a, .banner-contact{
    
    padding: 20px;
    width: fit-content;
    display: block;
    border-radius: 15px;
    background-color: #1A1C20;
    border: 1px solid white;
}



body {
    width: 100%;
}

header, main, footer {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}


.socials-list li {
    margin-left: 10px;
}

.socials-span {
    color: #F4F4F4;
}

section p {
    width: 100%;
    display: inline-block;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.department-about {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    

}

.departments {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


    
}

.department {
    width: 15vw;
    padding: 20px;
    border-radius: 10px;
    color: white;
    border-bottom: 1px solid white;
    cursor: pointer;
    background-color:#1A1C20;
    font-family: "Russo One", sans-serif;



}


.department-text-guide {
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

.active {
  font-family: "Jersey 15 charted", sans-serif;

}

.department-employees {
    width: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10%;
}

.department-info {
    width: 40%;
    text-align: left;
}



.employee {
    width: 40%;
    margin-bottom: 15px;
}

.employee img {
    width: 100%;
}


.emp-container, .info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.emp-container h3, .info-container h3 {
    display: block;
    width: 100%;
}

p, h3, h2 {
    margin-bottom: 20px;
}

p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

.department-info h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.row {
    display: flex;
    gap: 20px;

}

.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
}
.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.email-info {
    flex-basis: 40%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}
.contact-container input {
    border: 1px solid black;
}

.email-info input{
    margin-bottom: 15px;
    height: 30px;

}

.email-info {
    text-align: left;
}

.email input, .text textarea {
    width: 100%;
}

.text textarea {
    min-height: 100px;
    resize: vertical;
    border: 1px solid grey;

}

i {
    margin-bottom: 15px;
}

.phone-icon {
    color: rgb(55, 202, 55);
}

.adress-icon {
    color: rgb(194, 44, 44);
}

.time-icon {
    color: rgb(226, 195, 40);
}